/* --------- FONTS --------- */
@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/Nimbus-Sans-D-OT-Light.ttf');
}
@font-face {
  font-family: 'Bebas';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/BebasNeue-Regular.ttf');
}

#Claim-Container {
  z-index: 10;
}

.claim {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;

  top: 0px;
  left: 0px;

  width: 300px;
  border-radius: 5px;
  padding: 10px;
}

.claim-country {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Helvetica";
  font-weight: bold;
}

.claim-text {
  color: rgb(39, 39, 39);
  font-size: 14px;
  font-family: "Helvetica";
  text-align: justify;
  text-justify: inter-word;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(59, 59, 59);
}

.pp {
  height: 32px;
  width: 32px;
  background-color: rgb(180, 41, 41);
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

/* TITLE */
#title {
  position: absolute;
  top: 2vh;
  width: 100%;
  text-align: center;
  font-family: "Bebas", Arial, "sans-serif";;
  font-size: 32px;
  letter-spacing: .2rem;
}

#Diff-Temp {
  position: absolute;
  top: 7vh;
  width: 100%;
  text-align: center;
  font-family: "Bebas", Arial, "sans-serif";;
  font-size: 48px;
}

/* SCALE TEMPERATURE */

#Temp-Scale {
  position: absolute;
  bottom: 0vh;
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-family: "Helvetica";
}

#Temp-Scale p {
  margin: 0
}

#Temp-Scale ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.scales {
  list-style-type: none; 
  width: 4vh;
  height: 4vh;
  margin: 0 20px 0 20px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
}
